<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="user.name" 
            class="form-control" 
            id="name" 
            name="name" 
            pattern=""
            placeholder="Enter your name"
            required #name="ngModel"
            [ngClass]="{'is-invalid': name.dirty && name.invalid}">
        </div>
        <div class="alert alert-danger" *ngIf="name.dirty && name.invalid">Name is required</div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" [(ngModel)]="user.email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Enter your email address"
            required #email="ngModel"
            [ngClass]="{'is-invalid': email.dirty && email.invalid}">
        </div>
        <div class="alert alert-danger" *ngIf="email.dirty && email.invalid">Email is required</div>
        <button type="submit" [disabled]="!userForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>